@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');


body {
  margin: 0;
  text-align: center;
  font-family: "Cairo", sans-serif;
  background: rgb(174,238,217);
  background: radial-gradient(circle, rgba(174,238,217,1) 0%, rgba(182,148,233,1) 100%);
  -webkit-text-stroke: 1px black;
}

h1 {
  margin-bottom: 0;
  margin-top: 0.5px;
}

h3, h1 {
  color: white;
}

h3 {
  -webkit-text-stroke: 1px black;
  margin-top: 0px;
  line-height: 1.3
}

h3, .winGame {
  font-family: 'Press Start 2P', cursive;
  font-size: 1rem;
  letter-spacing: 2px;
}
header {
  width: 50%;
  margin: 8px auto 32px auto;
  height: 150px;
  border-radius: 5px;
  background: #0000ff50;
  padding-bottom: 16px;
  background: url('https://w7.pngwing.com/pngs/860/345/png-transparent-brown-wooden-board-illustration-wood-material-rectangle-font-cartoon-hand-painted-wooden-watercolor-painting-cartoon-character-brown.png');
  background-position-x: -5rem;
  background-position-y: -5rem;
  border-radius: 8px;
  border: 1px solid black
}
#game-container {
  width: 100%;
  height: 597px;
  display: flex;
  align-items: center;
  background-image: url(tabuleiro.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  max-width: 729px;
  margin: 0 auto;
  margin-bottom: 0.5rem;
}
#game {
  display: flex;
  margin: 0px auto;
  width: 86%;
  height: 551px;
}
#reset {
  color: white;
  font-family: "Cairo", sans-serif;
  background-color: #0264ec;
  width: 100px;
  height: 50px;
  border: 2px solid black;
  border-radius: 5px;
}
#reset:hover {
  background-color: #115cc5;
}
#modal {
  visibility: hidden;
  width: 400px;
  height: 200px;
  background: black;
  background-color: #db1630e3;
  border: 5px solid #bb1128e7;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  -webkit-text-stroke: 0.7px #00000050
}

#modal p {
  color: white;
  font-size: 2rem;
}

#modal .confirmation-box {
  display: flex;
  justify-content: space-around;
  padding-left: 10px;
  padding-right: 10px;
}

#modal .confirmation-box input[type="button"] {
  color: white;
  width: 150px;
  height: 65px;
  border: none;
  border-radius: 5px;
  font-size: 35px;
  text-transform: uppercase;
  font-family: "Cairo", sans-serif;
  background-color: #f3b600bb;
}
#modal .confirmation-box input[type="button"]:hover {
  background-color: #c49b1fce;
}

#score {
  display: flex;
  justify-content: space-around;
  width: 900px;
  height: 95px;
  margin: 0 auto;
  padding-top: 0px;
}
.col {
  flex: 1 1 0%;
  height: 511px;
  display: flex;
  flex-direction: column-reverse;
}

.redBall {
  margin: 0 auto;
  width: 87%;
  height: 14.6%;
  background: #db162f;
  border-radius: 70%;
  border: #0264ec 5px solid;
  box-shadow: inset 0 0 10px black;
}

.blackBall {
  margin: 0 auto;
  width: 87%;
  height: 14.6%;
  background: #f3b700;
  border-radius: 70%;
  border: #0264ec 5px solid;
  box-shadow: inset 0 0 7px black;
}

#player1,
#player2 {
  width: 280px;
  font-size: larger;
}

#player1 {
  color: #db162f;
  font-family: "Cairo", sans-serif;
  font-size: 25px;
}

#player2 {
  color: #f3b700;
  font-family: "Cairo", sans-serif;
  font-size: 25px;
}

.winGame {
  color: white;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #f3b600cc;
  padding: 10px 10px 10px 10px;
  border-radius: 10px;
  border: 5px solid #d4ab2fc7;
}
.restart {
  color: white;
  background-color: #db1630c5;
  border-radius: 5px;
  border: none;
  font-family: "Cairo", sans-serif;
  width: 100px;
  height: 40px;
}
.restart:hover {
  background-color: #bb1128;
}
#typeWinRed {
  display: table-cell;
  color: #fafafa;
  font-size: 15px;
  padding-left: 70px;
}
#typeWinBlack {
  display: table-cell;
  color: #fafafa;
  font-size: 15px;
  padding-left: 25px;
}
.dark-mode {
  background: rgb(75, 75, 75);
  filter: grayscale(80%)
}
#dark {
  position: absolute;
  right: 40px;
  bottom: 904px;
  top: 0px;
  color: #f1e9e9;
  font-family: "Cairo", sans-serif;
  background-color: #0264ec;
}
#dark:hover {
  background-color: #1955a8;
}

#principal {
  display: flex;
  flex-flow: column wrap;
  box-sizing: border-box;
}

#winRed, #winBlack {
  font-family: 'Press Start 2P', sans-serif;
  color: black;
  font-size: 1.3rem
}


@media (max-width: 768px) {
  #game-container {
    justify-content: center;
  }
  #score {
    width: 750px;
  }
  h3 {
    font-size: 11px;
  }
}
@media (max-width: 425px) {
  /* #game-container {
>>>>>>> 572f8deb06ff6b4c17750f0e6b79db80f747de80
    width: 100%;
    height: 452px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: none;
    max-width: 729px;
  } */

  #typeWinRed {
    display: table-cell;
    color: #323232;
    font-size: 13px;
    padding-left: 0px;
  }
  #typeWinBlack {
    font-size: 13px;
    padding-left: 0px;
  }
  #score {
    display: flex;
    justify-content: space-around;
    width: 300px;
    height: 95px;
    margin-top: 10px;
    margin-bottom: 0;
    padding: 0px;
  }
  #player1, #player2 {
    font-size: 17px;
  }
  #game {
    display: flex;
    align-items: center;
    width: 84%;
    height: 450px;
    margin-bottom: 7%;
  }
  #game-container{
    display: flex;
    align-items: center;
    background-image: url(tabuleiroMobile.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: -12%;
  }
  .redBall, .blackBall {
    border: 0;
    margin-top: 6px;
  }
  .winGame {
    padding: 5px;
    background-color: #dd3c33b7;
    border-radius: 5%;
    font-family: "Heebo", sans-serif;
    color: white;
    font-weight: 800;
    margin-top: 90px;
  }
  #winGame p {
    box-shadow: 2px 2px 12px black
  }

  .restart {
    font-family: "Cairo", sans-serif;
    color: white;
    font-size: 15px;
    height: 50px;
    width: 110px;
    background-color: #f3b600c0;
    border: 0;
    border-radius: 5px;
  }
  h3 {
    font-size: 9px;
  }
  .col {
    height: 299px;
  }
  #dark {
    right: 30px;
  }
}
